body {
  /* background: color image repeat position/size */
  background: url('./assets/bg-mobile.jpg') no-repeat top center / cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  height: 712px;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#profile img {
  width: 112px;
}

#links {
  border: 1px solid blue;
}

#socialLinks {
  border: 1px solid yellow;
}

footer {
  border: 1px solid green;
}
