:root {
  --text-color: #ffffff;
  --bg-url: url('./assets/bg-mobile.jpg');
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color-light-mode: rgba(255, 255, 255, 0.2);
  --switch-url: url(./assets/moon-stars.svg);
  --toggle-color: #1f1f1f;
  --heart-icon: '🤍';
  --transition-duration: 0.3s;
}

.light {
  --text-color: #000000;
  --bg-url: url('./assets/bg-mobile-light.jpg');
  --stroke-color: rgb(0, 0, 0);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color-light-mode: rgba(0, 0, 0, 0.1);
  --switch-url: url(./assets/sun.svg);
  --toggle-color: #ffffff;
  --heart-icon: '🖤';
}

body {
  background: var(--bg-url) no-repeat top center / cover;
  transition: background var(--transition-duration);
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  transition: color var(--transition-duration);
}

#container {
  width: 360px;
  height: 712px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

/* PROFILE */
#profile > p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#profile > img {
  width: 112px;
}

/* SWITCH */
#switchMode {
  width: 64px;
  position: relative;
  margin: 4px auto;
}

#switchMode > button {
  z-index: 1;

  width: 32px;
  height: 32px;
  background: var(--toggle-color) var(--switch-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: all var(--transition-duration);
}

#switchMode > span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.light #switchMode > button {
  left: calc(100% - 32px);
}

/* links */
ul#links {
  list-style: none;
  margin-top: 24px;
}

ul#links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul#links > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  font-weight: 500;
  text-decoration: none;
  transition: all var(--transition-duration);
}

ul#links > li > a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

#socialLinks {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

#socialLinks > a {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background var(--transition-duration);
  border-radius: 50%;
}

#socialLinks > a:hover {
  background: var(--highlight-color-light-mode);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

footer > p {
  margin: 8px 0;
}

footer b {
  font-weight: 500;
}

.heart::after {
  content: var(--heart-icon);
}
